name: Build and Save
concurrency:
  group: "build"
  cancel-in-progress: false
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: build
        run: ./gradlew build

      - name: Rename artifacts
        run: |
          cd build/libs
          for file in *-local*; do
            if [ -f "$file" ]; then
              newname=$(echo "$file" | sed "s/-local/-${{ github.run_number }}/g")
              mv "$file" "$newname"
              echo "Renamed: $file -> $newname"
            fi
          done

      - name: Get artifact names
        id: get_names
        run: |
          cd build/libs
          MAIN_JAR=$(ls meteorite-*-${{ github.run_number }}.jar | head -n 1)
          ALL_JAR=$(ls meteorite-*-${{ github.run_number }}-all.jar | head -n 1)
          echo "main_name=${MAIN_JAR%.jar}" >> $GITHUB_OUTPUT
          echo "all_name=${ALL_JAR%.jar}" >> $GITHUB_OUTPUT

      - name: Upload main JAR
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.get_names.outputs.main_name }}
          path: build/libs/meteorite-*-${{ github.run_number }}.jar
          retention-days: 30
          compression-level: 0

      - name: Upload all JAR
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.get_names.outputs.all_name }}
          path: build/libs/meteorite-*-${{ github.run_number }}-all.jar
          retention-days: 15
          compression-level: 0
